$primary-color:#EEEDE7;
$secondary-color: #868B8E;
$third-color: #B9B7BD;
$forth-color: #E7D2CC;

$primary-dark-color:#67595E;
$secondary-dark-color: #A49393;
$third-dark-color: #EED6D3;
$forth-dark-color:#E8B4B8;

$black-color: #000;
$white-color:#FFFFFF;
